.skill{
    border: 1px solid;
    margin: 5px;
    width: 250px;
}
.skillLogo{
    width: 40px;
    height: 40px;
    background-color: darkgrey;
    transform: rotate(45deg);
    margin: 20px auto 0;
}

@media (max-width: 400px){
    .skill{
    }
}