@import "../common/styles/variables";

.nav {
    margin: 5px;
    width: 300px;
    //border: 1px solid;
    display: flex;
    justify-content: space-between;
    a{
        color: $bgc;
        font-family: $basicFont;
        font-size: $basicFontSize;
        &:hover{
            font-size: $basicFontSize + 3px;
            transition:ease-in;
            transition-duration: 0.5s
        ;
        }
    }

}